<html>

<head>
<title>Left Menu</title>
<base target="contents">
<link href="/Layout/menu.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div align="center">
  <center>
  <table border="0" cellpadding="2">
    <tr>
      <td align="center">
	  <a target="main" href="/Left Menu/Prewar History/main.html">
      <img border="0" src="/Buttons/Prewar History.svg" width="200" height="50"></a></td>
    </tr>
	<tr>
      <td align="center">
	  <a target="main" href="/Left Menu/Modern History/main.html">
      <img border="0" src="/Buttons/Modern History.svg" width="200" height="50"></a></td>
    </tr>
    <tr>
      <td align="center">
      <A TARGET="main" HREF="/Left Menu/Culture/main.html">
      <img border="0" src="/Buttons/Culture.svg" width="200" height="50"></A></td>
    </tr>
    <tr>
      <td align="center">
      <A TARGET="main" HREF="/Left Menu/Geography/main.html">
      <img border="0" src="/Buttons/Geography.svg" width="200" height="50"></A></td>
    </tr>
	<tr>
      <td align="center">
      <A TARGET="main" HREF="/Left Menu/Demons/main.html">
      <img border="0" src="/Buttons/Demons.svg" width="200" height="50"></A></td>
    </tr>
	<tr>
      <td align="center">
      <A TARGET="main" HREF="/Left Menu/Souls/main.html">
      <img border="0" src="/Buttons/Souls.svg" width="200" height="50"></A></td>
    </tr>
	<tr>
      <td align="center">
      <A TARGET="main" HREF="/Left Menu/Intertransience/main.html">
      <img border="0" src="/Buttons/Intertransience.svg" width="200" height="50"></A></td>
    </tr>
  </table>
  </center>
</div>

</body>
</html>