<html>

<head>
<title>Autres</title>
<base target="contents">
<link href="/Layout/menu.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div align="center">
  <center>
  <table border="0" cellpadding="2">
    <tr>
      <td align="center">
	  <a target="main" href="/Right Menu/Splinters.html">
      <img border="0" src="/Buttons/Splinters.svg" width="200" height="50"></a></td>
    </tr>
	<tr>
      <td align="center">
	  <a target="main" href="/Right Menu/PCs.html">
      <img border="0" src="/Buttons/PCs.svg" width="200" height="50"></a></td>
    </tr>
	<tr>
      <td align="center">
	  <a target="main" href="/Right Menu/NPCs.html">
      <img border="0" src="/Buttons/NPCs.svg" width="200" height="50"></a></td>
    </tr>
    <tr>
      <td align="center">
      <A TARGET="main" HREF="/Right Menu/Chapter 1.html">
      <img border="0" src="/Buttons/Chapter 1.svg" width="200" height="50"></A></td>
    </tr>
  </table>
  </center>
</div>

</body>
</html>