
<html>

<head>
<title>Glossary</title>
<base target="main">
<link href="/Layout/direga.css" rel="stylesheet" type="text/css" />
</head>

<body>
<p margin="50">These glossaries contain only the most essential elements of the most essential elements to understanding Terane. The "mechanics" section will expand as novel properties of souls and demons are uncovered through play.</p>

<p margin="50">MECHANICS GLOSSARY<br>
Soul -- a being capable of limited power; if it has a soul, it is alive, and vice versa<br>
Demon -- a being capable of infinite power, who desires only to destroy the Material<br>
Fairy -- a self-propogating delusion suffered by the soul<br>
Intertransience -- the movement between planes<br>
Material -- the physical world<br>
Soul Plane -- the poorly-understood "afterlife," where souls come from<br>
Demon Plane -- a theoretical construct explaining where demons come from<br>
Akura -- "pure soul," difficult to express but immune to a demon's desire<br>
Demon Arts -- the study of demons: summoning, instructing, constraining, etc.<br>
Post-Demonicism -- the belief in a force more fundamental than demons<br>
Locationality -- the prioritization between conflicting demons dependent on which areas of Material they affect<br>
Metademon -- a collection of demons acting as a single system<br>
Sigil -- a message to a particular demon to execute some effect, usually a "spell"<br>
Microcosm -- the representation of a metademon by a simplified simulation<br>
Soul Arts -- "magic;" the use of the soul for supernatural effects<br>
Soul Expression -- the expenditure of soul to affect the Material<br>
Rubber-Ball Model -- an analogy used to explain souls and calculate soul strength<br>
Soulsoaking -- the permanent expression of Akura; a legendary ability<br>
Soul Bisection -- a process wherein one soul splits another, thereby halving its power<br>
Soul Invasion -- the affecting of one soul by another by way of memory alteration<br>
Soul Aberration -- unpredictable concequences of particular sorts of damage to the soul<br>
Rukura -- an aberration resulting from the dissatisfaction of a soul's Mtera by betrayal<br>
Corpse Puppetry -- an aberration resulting from the necromantic techniques of Kurake<br>
</p>





<p margin="50">HISTORY GLOSSARY<br>




</p>





<p margin="50">QINEN GLOSSARY<br>




</p>
</body>

  <h2><img src="/Layout/line.svg" width="896" height="15"></h2>
	<h4><p align="center">Daniel Sozdashov</p></h4>
<h2><img src="/Layout/line.svg" width="896" height="15"></h2>

</html>