
<html>

<head>
<title>Introduction Page</title>
<base target="contents">
<link href="/Layout/direga.css" rel="stylesheet" type="text/css" />
</head>

<body>
<p margin="50">"Direga" is the Qinen word formed from the root "direroi," or "to guard, to keep," and the suffix "-ga," signifying an active nominalization: a transformation of the modified word to mean something close to "keeping" in the sense that what is kept has been kept, with care, for a long time. In a word, it means "history," but more broadly than what we mean when we say "history" in English. Direga is history, but it is also everything else about the world which may be preserved. It is science, it is technology, it is culture--and, on the island of Terane, it is demons, it is monsters, it is souls.</p>
 
<p margin="50">This is the record of a fantasy world created for use in a table-top role-playing game, whose events will be recorded alongside the lore. The left menu will contain information about the world, where the right menu will contain information about the story as it is played. The hope is, through the upkeep of this site, to create a cohesive hyperfiction and preserve the exploits of my characters and the players'. 
</body>

  <h2><img src="/Layout/line.svg" width="896" height="15"></h2>
	<h4><p align="center">Daniel Sozdashov</p></h4>
<h2><img src="/Layout/line.svg" width="896" height="15"></h2>

</html>