
<html>

<head>
<title>Introduction Page</title>
<base target="main">
<link href="/Layout/direga.css" rel="stylesheet" type="text/css" />
</head>

<body>
<p margin="50">"Direga" is the <a target="_self" href="/Left Menu/Culture/Qinen.html">Qinen</a> word formed from the root "direroi," or "to guard, to keep," and the suffix "-ga," signifying an active nominalization: a transformation of the modified word to mean something close to "keeping" in the sense that what is kept has been kept, with care, for a long time. In a word, it means "history," but more broadly than what we mean when we say "history" in English. Direga is history, but it is also everything else about the world which may be preserved. It is science, it is technology, it is culture--and, on the island of <a target="_self" href="/Left Menu/Geography/main.html">Terane</a>, it is <a target="_self" ="/Left Menu/Demons/main.html">demons</a>, it is <a target="_self" href="/Left Menu/Wildlife/Fauna.html">monsters</a>, it is <a target="_self" href="/Left Menu/Souls/main.html">souls</a>.</p>
 
<p margin="50">This is the record of a fantasy world created for use in a table-top role-playing game, whose events will be recorded alongside the lore. The left menu will contain information about the world, where the right menu will contain information about and recaps of the story as it is played. The hope is, through the upkeep of this site, to create a cohesive hyperfiction and preserve the exploits of my characters and the players'. The buttons on either side will take you to collections of pages; the header on each will bring you back to the parent page.
</body>

  <h2><img src="/Layout/line.svg" width="896" height="15"></h2>
	<h4><p align="center">Daniel Sozdashov</p></h4>
<h2><img src="/Layout/line.svg" width="896" height="15"></h2>

</html>